{% extends 'glowny.html' %}

{% block tytul %} Grafiki {% endblock %}

{% block strona %}
<body style="background-image: url('https://img.freepik.com/free-vector/black-carbon-fiber-texture-pattern-background_1017-33436.jpg'); background-size: 50% 20%; font-family: Verdana;"></body>
<div class="p-5 text-center bg-image rounded-3" style=" 
border: 3px solid black; background-image: url('https://img.freepik.com/free-vector/stylish-white-background-with-diagonal-lines_1017-33199.jpg' );
height: 400px; background-size:100%; font-size: 20px">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.7); ">
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="text-white">
    <br>
    {% if user.is_authenticated %}
        <br>Witaj {{ user.username }} !<br><br>
        Teraz możesz tworzyć swój kontent
    <br>
    <br>
    <br>
        <a class="btn btn-outline-light btn-lg" href="{% url 'logout' %}">Wyloguj</a><br>
    {% else %}  
    <br>
        Witaj w aplikacji MyOwnPortfolioApp<br><br> Stwórz własne portfolio dodając swoją twórczość
    <br>
    <br>
    <br>
        <a class="btn btn-outline-light btn-lg" href="{% url 'login' %}">Zaloguj</a><br>
    {% endif %}
    <br>
  </div>
</div>
</div>
</div>
<br>
    <a href="{% url 'nowy_image' %}" button type="button" class="btn btn-light" style="background-color: lightgray; border-width: 5px; border-color: black; width: 40%; padding: 10px; display: block; margin-left: auto; margin-right: auto;">Dodaj grafikę <i class="fa-regular fa-image"></i></a></button>
    <br>
    <br>


    {% for image in images %}
    
      <div class="card" style="border-width: 5px; border-color: black; margin: auto; width: 60%; padding: 10px; display: block; margin-left: auto; margin-right: auto; background-size: 200%; background-image: url('https://t4.ftcdn.net/jpg/03/78/40/11/360_F_378401105_9LAka9cRxk5Ey2wwanxrLTFCN1U51DL0.jpg')">
        <div class="card-body">

            <img src="/media/{{ image.photo }}" style="border: 2px solid black; margin: auto; width: 500px; display: block; margin-left: auto; margin-right: auto;">
            <br>
          <h5 class="card-title" style="text-align: center;"><b>{{ image.tytul }}</b></h5>
          <br>
          <p class="card-text" style="text-align: center;">{{ image.opis }}
          </p><br>
          <a href="{% url 'usun_image' image.id %}"><i class="fa-solid fa-trash-can" style="color: #020203; float: right;"></i></a>
        </div>
      </div>
      <br>
      <br>
      <br>
    {% endfor %}
    <a href="{% url 'strona_image' %}" style="border-width: 5px; border-color: black; margin: auto; width: 20%; padding: 3px; display: block; margin-left: auto; margin-right: auto;" class="btn btn-light">Wróć</a><br>
{% endblock %}
